<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Add</title>
</head>
<body>
    <h1>Add My Own Sneaker to Sell</h1>

    <form action="/store" method="POST">
        Brand: <input type="text" name="brand"/><br/>
        Name: <input type="text" name="name"/><br/>
        Color: <input type="text" name="color"/><br/>
        Size: <input type="text" name="size"/><br/>
        Image Url <input type="text" name="img"/><br/>
        <input type="submit" name="" value="List My Sneakers"/>
    </form>
</body>
</html>