body {
    background-color: aliceblue;
    
}

nav {
    background-color: black;
    font-size: 20px;
    color: aliceblue;
}

img {
    height: 200px;
    width: 250px;
}

ul {
    text-align: center;
    display: flex;
    padding: 5px;
}
li{
    list-style: none;
    margin: 5px;
}

:any-link{
    color:aliceblue;
    text-transform: none;
    text-decoration: none;
}

button {
    background-color: black;
}