body {
    background-color: aliceblue;
    font-family:Arial, Helvetica, sans-serif;
    
}

nav {
    background-color: black;
    font-size: 20px;
    color: aliceblue;
    padding: 10px;
    text-align: right;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: whitesmoke;
    padding: 10px;
}

img {
    height: 200px;
    width: 250px;
}

ul {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}
li{
    list-style: none;
    margin: 5px;
}

:any-link{
    color:aliceblue;
    text-transform: none;
    text-decoration: none;
}

button {
    background-color: black;
}

p {
    text-align: center;
    font-size: 20px;
}